{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>CDP Maintenance | {% block title %}Homepage{% endblock %}</title>



    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css">
        {#        <link rel="stylesheet" href="{% static "css/maintapp.css" %}">#}
        <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css"/>
    {% endblock css %}

    {% block javascript %}
        <!-- Latest JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% endblock javascript %}
{#    {{ form.media }}#}

</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CDP Maintenance</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/tenants/all/">Tenants</a></li>
                <li><a href="/unit/">Units</a></li>
                {#                <li><a href="/workorder/all">Work Orders</a></li>#}
                <li><a href="{% url 'list_all_workorders' %}">Work Orders</a>

                <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="col-md-12">
        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

</div>
</div>


</body>
</html>