{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>CDP Maintenance | {% block title %}Homepage{% endblock %}</title>

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Users and groups" "BuildingList" %}
{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css">
{#        <link rel="stylesheet" href="{% static "css/maintapp.css" %}">#}

    {% endblock css %}

    {% block javascript %}
        <!-- Latest JQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% endblock javascript %}
{#    {{ form.media }}#}

</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CDP Maintenance</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/tenants/all/">Tenants</a></li>
                <li><a href="/unit/">Units</a></li>
               <li><a href="{% url 'list_all_workorders' %}">Work Orders</a>
                <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
                From then on, you can insert the current value of the cycle wherever you’d like in your template by
                referencing the cycle name as a context variable. If you want to move the cycle to the next value
                independently of the original cycle tag, you can use another cycle tag and specify the name of the
                variable. So, the following template:
            {% endblock sidebar %}
        </div>
        <div class="col-md-9">
            <div id="content">
                {% block content %}
From then on, you can
                {% endblock content %}
            </div>
        </div>

    </div>
</div>
{#</div>#}


</body>
</html>