{% extends "cdpapp/base.html" %}
{% block title %}Building Detail{% endblock %}

{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
    {{ block.super }}
    {% clear_breadcrumbs %}
    {% breadcrumb "Building" "/" %}
    {% breadcrumb "Units" "buildings" %}
{% endblock %}
{# {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}#}


{% block sidebar %}

    <h3>Units</h3>
    <ul class="list-group">

        {% for units in buildings_detail.unit_set.all %}
            <li class="list-group-item"><a href="/unit/{{ units.id }}/">
                &nbsp;&nbsp;{{ units.name }}&nbsp;&nbsp;{{ units.unit }}</a></li>
        {% empty %}
            <li><h5>No units for this property</h5></li>
        {% endfor %}

    </ul>
{% endblock sidebar %}

{% block content %}
        <address>
            <h3>{{ buildings_detail.property_name }}</h3>
            <h4>{{ buildings_detail.address }}</h4>
            <h4>{{ buildings_detail.town }} &nbsp;&nbsp;{{ buildings_detail.state }}, &nbsp;&nbsp;{{ buildings_detail.zip }}</h4>
        </address>
    <div>
        <p>
       {{ buildings_detail.building_comments }}
        </p>
    </div>

{% endblock content %}

