{% extends "cdpapp/base.html" %}
{% block title %}Building Detail{% endblock %}

{% block sidebar %}

    <h3>Units</h3>
    <ul class="list-group">

       {% for units in buildings_detail.unit_set.all %}
            <li class="list-group-item"><a href="/unit/{{ units.id }}/">
                &nbsp;&nbsp;{{ units.name }}&nbsp;&nbsp;{{ units.unit }}</a></li>
        {% empty %}
            <li><h5>No units for this property</h5></li>
        {% endfor %}

    </ul>
{% endblock sidebar %}

{% block content %}
{#    <h3>building_detail.html</h3>#}
    <div class="page-header">
        <h2>{{ buildings_detail.property_name }}
            <small>{{ buildings_detail.address }}&nbsp;&nbsp; {{ buildings_detail.town }}&nbsp;
                &nbsp;{{ buildings_detail.zip }}</small>
        </h2>
    </div>

    <div>
        <p>
        <ul class="list-group">
            <li class="list-group-item">{{ buildings_detail.property_name }}</li>
            <li class="list-group-item">{{ buildings_detail.address }}&nbsp;{{ buildings_detail.town }}&nbsp;{{ buildings_detail.zip }}</li>
        </ul>
        You will also notice that we have included several IntegerField entries for the views and likes fields in
        each form. Note that we have set the widget to be hidden with the parameter setting
        widget=forms.HiddenInput(), and then set the value to zero with initial=0. This is one way to set the field
        to zero without giving the control to the user as the field will be hidden, yet the form will provide the

        </p>
    </div>

{% endblock content %}

